<div class="panel panel-default">
    <div class="panel-heading">Gestion des Produits</div>
    <div class="panel-body">
  
        <div>
            <button  class="btn btn-success col-xs-12" (click)="onAddProd()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
            
        <p></p>


        <div *ngIf="mode=='new-prod'">
           <form #f='ngForm' (ngSubmit)="onSaveProd(f.value)"> 

              <div class="form-group"  class="col-md-4">
                <label  class="control-label">Nom Produit</label>
                <input type="text" name="nomProduit" ngModel class="form-control">
              </div>
  
              <div class="form-group"  class="col-md-8">
                  <label class="control-label">Description</label>
                  <input type="text"class="btn btn-success col-xs-12" name="designation" ngModel class="form-control">
              </div>

              <div class="form-group"  class="col-md-2">
                <label class="control-label">Prix initial</label>
                <input type="text" name="startPrice" ngModel class="form-control">
              </div>
  
              <div class="form-group"  class="col-md-2">
                  <label class="control-label">Prix actuel</label>
                  <input type="text" name="currentPrice" ngModel class="form-control">
              </div>
              
              <div class="form-group"  class="col-md-8">
                    <label class="control-label">Photo</label>
                    <input type="text" name="currentPrice" ngModel class="form-control">
              </div>
 
           <div class="col-md-5">

           </div>
              <div>
                    <button  style="margin-top:12px" class="btn  btn-success col-md-2 col-xs-12" type="submit">Save</button>
              </div>
             
           </form>
        </div>
  
        <div *ngIf="mode=='edit-prod'">
            <form #f='ngForm' (ngSubmit)="onUpdateProd(f.value)"> 
                  <div class="form-group"  class="col-md-3">
                      <label class="control-label">Nom Produit</label>
                      <input type="text" name="nomProduit" ngModel class="form-control"  [(ngModel)]='currentProduit.nomProduit'>
                  </div>
      
                  <div class="form-group"  class="col-md-6">
                      <label class="control-label">Description</label>
                      <input type="text" name="designation" ngModel class="form-control"  [(ngModel)]='currentProduit.designation'>
                  </div>

                  <div class="form-group"  class="col-md-3">
                        <label class="control-label">Categorie</label>
                        <input type="text" name="Categorie" ngModel class="form-control">
                  </div>

                  <div class="form-group"  class="col-md-2">
                        <label class="control-label">Prix initial</label>
                        <input type="text" name="startPrice" ngModel class="form-control" [(ngModel)]='currentProduit.startPrice'>
                  </div>
          
                  <div class="form-group"  class="col-md-2">
                          <label class="control-label">Prix actuel</label>
                          <input type="text" name="currentPrice" ngModel class="form-control" [(ngModel)]='currentProduit.currentPrice'>
                  </div>
                      
                  <div class="form-group"  class="col-md-4">
                            <label class="control-label">Photo</label>
                            <input type="text" name="urlPhoto" ngModel class="form-control" [(ngModel)]='currentProduit.urlPhoto'>
                   
                      
                  <td></td>
                  </div>
                  <div class="col-md-8"></div>
                  <div class=" img-circle col-md-4">
                        <img src={{currentProduit.urlPhoto}} width="380" height="300">
                  </div>    
                  <div class="col-md-5"></div>
                 
                  <div>
                        <button  style="margin-top:12px" class="btn  btn-success col-md-2 col-xs-12" type="submit">Update</button>
                  </div>
            </form>
        </div>
  
  
    <div *ngIf="mode == 'list'">
       
        <table class="table" *ngIf="produits">
            <tr>
              <th>Nom Produit</th>
              <th>Description  </th>
              <th>Categorie  </th>
              <th>Prix initial</th>
              <th>Prix actuel </th>
              <th>Photo </th>
            </tr>
            <tr *ngFor="let p of produits._embedded.produits">
                    <td style=" vertical-align:middle">{{p.nomProduit}}</td><td>{{p.designation}}</td><td>{{p.categorie}}</td><td>{{p.startPrice}}</td><td>{{p.currentPrice}}</td>
                    <td><img class="img-circle" src={{p.urlPhoto}} width="100" height="100"></td>
                     <td>
                            <!-- {{p | json}} -->
                         <button  class="btn btn-danger" (click)="onDeleteProd(p)">
                           <span class="glyphicon glyphicon-remove"></span>
                         </button>
                     </td>
                     <td>
                         <button class="btn btn-success" (click)="onEditProd(p)">
                            <span class="glyphicon glyphicon-edit"></span>
                         </button>
                     </td>
             
            </tr>
      
          </table>
  
    </div>
      
    </div>
  
  </div>