<div class="panel panel-default">
    <div class="panel-heading">Gestion des Utilisateurs</div>
    <div class="panel-body">
  
        <div>
            <button  class="btn btn-success col-xs-12" (click)="onAddAppUser()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
            
        <p></p>


        <div *ngIf="mode=='new-user'" class="col-md-12">
           <form #f='ngForm' (ngSubmit)="onSaveAppUser(f.value)"> 
              <div class="form-group">
                <label class="control-label">Nom Utilisateur</label>
                <input type="text" name="userName" ngModel class="form-control">
              </div>
  
              <div class="form-group">
                  <label class="control-label">Active</label>
                  <input type="text" name="active" ngModel class="form-control">
              </div>
              <div class="col-md-5"></div>
              <div>
                      <button  style="margin-top:12px" class="btn  btn-success col-md-2 col-xs-12" type="submit">Save</button>
              </div>
            </form>
        </div>
  
        <div *ngIf="mode=='edit-user'">
            <form #f='ngForm' (ngSubmit)="onUpdateAppUser(f.value)"> 
                <div class="form-group">
                    <label class="control-label">Nom Utilisateur</label>
                    <input type="text" name="userName" ngModel class="form-control"  [(ngModel)]='currentAppUser.userName'>
                  </div>
      
                  <div class="form-group">
                      <label class="control-label">Active</label>
                      <input type="text" name="active" ngModel class="form-control"  [(ngModel)]='currentAppUser.active'>
                  </div>
                  <div class="col-md-5"></div>
                  <div>
                        <button  style="margin-top:12px" class="btn  btn-success col-md-2 col-xs-12" type="submit">Update</button>
                  </div>
            </form>
         </div>
  
  
    <div *ngIf="mode == 'list'">
        <table class="table" *ngIf="appUsers">
            <tr>
              <th>Nom Utilisateur</th>
              <th>Active  </th>
            </tr>
            <tr *ngFor="let usr of appUsers._embedded.appUsers">
      
              <td>
                  {{usr.userName}}
              </td>
              <td>
                  {{usr.active}}
              </td>
      
      
              <td>
                  <button  class="btn btn-danger" (click)="onDeleteAppUser(usr)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
              </td>
              <td>
                  <button  class="btn btn-success" (click)="onEditAppUser(usr)">
                    <span class="glyphicon glyphicon-edit"></span>
                  </button>
              </td>
             
            </tr>
      
          </table>
  
    </div>
      
    </div>
  
  </div>