<div class="panel panel-default">
    <div class="panel-heading">Catalogue Produits</div>
    <div class="panel-body">

<table class="table table-stripped" *ngIf="products._embedded.produits">

    <tr>
        <th>Nom Produit</th>
        <th>Description  </th>
        <th>Prix initial</th>
        <th>Prix actuel </th>
        <th>Photo </th>
      </tr>
  <!-- <tr>
    <th>Designation</th><th>Description</th><th>prix initial</th><th>Photo</th>
  </tr> -->
  <!-- {{produitsOfCat._embedded.produits.nomProduit}}  -->
  <tr *ngFor="let p of products._embedded.produits">
  <td style=" vertical-align:middle">{{p.nomProduit}}</td><td style=" vertical-align:middle">{{p.designation}}</td><td style=" vertical-align:middle">{{p.startPrice | number:'0.2'}}</td><td style=" vertical-align:middle">{{p.currentPrice | number:'0.2'}}</td>
                    <td><img class="img-circle" src={{p.urlPhoto}} width="100" height="100"></td>

                  </tr>
 
  <!-- <tr *ngFor="let p of products._embedded.produits">
     <td>{{p.nomProduit}}</td>   
     <td>{{p.designation}}</td>  
     <td>{{p.startPrice | number:'0.2'}}</td>
  </tr> -->

</table>
    </div>
</div>
